:root {
    --purple: rgb(138, 43, 226)

}

.container-fluid {
background-color: black;
}

.header {
 margin-left: 0%;
}

h1 {
    color: black;
    background-color: var(--purple);
}


h2, h3, h4 , p, a{
    color: var(--purple);
}


a {
 text-decoration-line:none;
}

.navbar a {
    margin-left: 10px;
}

.navbar a:hover {
    margin-left: 10px;
    color: var(--purple);
}

h2 {
    position:relative;
    left: -200px;
}

.main {
    padding: 0%;
}
.content {
    border-left-style: solid;
    border-color: var(--purple);
    padding-left: 50px;
    margin-left: 5px;
}
.asidecard{
position: relative;
}

.asidetext p{
    padding-left: 5%;
    max-width: 400px;
    max-height: 100px;
    position: absolute;
    left: 35%;
    top: 20%;

}

.maincard img {
    border-style: solid;
    border-color:var(--purple);
    background-color: white;
    opacity: .8;
}
.maincard img:hover {
    opacity: 1;

}

.cardtext  {
    width: fit-content;
    background-color: var(--purple);
    position:relative;
    bottom: 100px;
    left: -5px;
}

.cardtext p, .cardtext h4{
    color: black;
}

#maincard1 img{

    max-width:  100%;
}

#maincard2 img, #maincard3 img {
    max-width: 100%;

}

.footer >* {
    font-size: 300%;
    margin-left: 18%;
    color: var(--blue);

}

.footer h3{
    display: inline;
    text-align: left;
    margin-left: 0%;


}